.form-table th {display: none;}
.form-table td{padding:0px !important}
.codeS{vertical-align: middle;position: relative;top: 7px;font-size: 14px;}
pre{padding:2px 6px 13px 8px !important;}
.hideControl{display:none;}


